@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
}

:root{
  --color-dark-blue: #073b60;
  --color-dark-red-hover: #9b211bfd;
  --color-white: white;
  --color-aqua: #42b8bb;
  --color-hover: #bc2921;
  --color-grey: hsl(210, 36%, 96%);
  --header-height: 3.5rem;
  --link-gap: 2rem;
  --semi-bold: 600;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}